.gloss-path-group {
	display:none; /* Prevent display before js kicks in */
	margin-bottom:10px;
}
.gloss-group {
	position:absolute;
	/*left:477px;*/
	width:200px;
	height:auto;
	overflow:hidden;
	margin-top:5px;
}
.node-gloss {
	background:#F7EEB2;
	border:1px solid #E6D775;
	padding:2px 2px 2px 10px;
}
#gloss-add,
.node-gloss,
.gloss-controls {
	font-family:courier, sans-serif;
	font-size:11px;
}
#gloss-add {
	height:30px;
	position:absolute;
	width:185px;
	display:none;
	padding:0;
}

#gloss-add > div {
	margin:7px 0 0 10px;
}

#gloss-add a {
	text-decoration:underline;
}
.node-gloss {
	margin-bottom:1px;
}
.node-gloss.collapsed {
	height:20px;
	overflow:hidden;
}
.node-gloss.node-unpublished {
	background:#FF9999;
}
.gloss-group {
	cursor: pointer;
}
.gloss-group.collapsed {
	overflow:hidden;
	width:10px;
	height:20px;
}

.node-gloss.hover,
.gloss-group.hover {
	background:#E6D775;
}

.gloss-controls {
	position:absolute;
	left:500px;
	top:-100px;
	width:200px;
}





